body {
	background: rgb(243, 188, 7);
	background-image: linear-gradient(to right, rgb(177, 177, 202), rgb(70, 180, 70));
}

@keyframes wave {

	0% {
		background-position: 0% 50%;
	}
	
	50% {
		background-position: 100% 50%;
	}
	
	100% {
		background-position: 0% 50%;
	}
	}

div {
	width: 200px;
	height: 200px;
	background-image: linear-gradient(to right, rgb(235, 95, 15), rgb(0, 128, 111));
	background-size: 200% auto;
	animation: wave 1s linear infinite;
}
button {
	color: blueviolet;
	background-color: pink;
	padding: 10px 20px;
	border-radius: 4px;
}
div {
	margin-left: auto;
	margin-right: auto;
}
p {
	text-align: center;
}
h1 {
height: 20vh;
}